.RData
.Rhistory
__MACOSX
docs
inst/doc
.Rproj.user
*.DS_Store*

# from tex files #
#################
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.synctex.gz
*.bst
